@model CaseStudyEg.Models.MovieBooking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MovieBooking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoofSeats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoofSeats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Screen.ScreenID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Screen.ScreenID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theater.TheaterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theater.TheaterName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
