@model IEnumerable<CaseStudyEg.Models.MovieBooking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoofSeats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.MovieName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Screen.ScreenID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theater.TheaterName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoofSeats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.MovieName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Screen.ScreenID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theater.TheaterName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingID })
        </td>
    </tr>
}

</table>
